<form
  (ngSubmit)="onSubmit()"
  [formGroup]="createUserForm"
  class="center-content"
>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" required />

    <mat-error *ngIf="name.hasError('required')">
      El campo <strong>Nombre</strong> es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput type="text" formControlName="lastName" required />

    <mat-error *ngIf="lastName.hasError('required')">
      Last name is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required />
    <input
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      required
    />

    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Ingrese un email válido.
    </mat-error>

    <mat-error *ngIf="email.hasError('required')">
      El campo <strong>Email</strong> es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />

    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Aceptar</button>
  <button mat-raised-button type="button" (click)="onCancel($event)">Cancelar</button>
</form>
