
<form  (ngSubmit)="onSubmit()" [formGroup]="createUserForm">
    <div>
        <label> Nombre</label>
        <input type="text" formControlName="name">
    </div>
    
      <div>
        <label> Apellido</label>
        <input type="text" formControlName="lastName">
      </div>
    
      <div>
        <label> Email</label>
        <input type="email" formControlName="email">
      </div>
    
      <div>
        <label> Contraseña</label>
        <input type="password" formControlName="password">
      </div>
    
      <button type="submit">Aceptar</button> 
      <button>Cancelar</button>
</form>

