<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> NOMBRE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> APELLIDO </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef > ACCION </mat-header-cell>
    <mat-cell *matCellDef="let row" >
      <button mat-mini-fab color="warn" (click)=deleteUser(row.id)>
          <mat-icon>delete</mat-icon>
     </button> 
         <button *ngIf="row.isActive == true" mat-button color="warn" (click)="disableUser(row.id)">Deshabilitar</button>
         <button *ngIf="row.isActive == false" mat-button  color="primary" (click)="enableUser(row.id)">Habilitar</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
