<h1>Subir Imagen</h1>
<form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()" class="center-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>File</mat-label>
      <input type="file" name="file" (change)="onFileSelect($event)" accept="image/png, image/jpeg, image/jpg" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="10" cols="40" placeholder="Escribe aquí tu comentario"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button>Cancelar</button>
</form>