<form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()" class="center-content">

    <div>
      <label>Archivo: </label>
      <input type="file" name="file" (change)="onFileSelect($event)" accept="image/png, image/jpeg, image/jpg" required />
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="10" cols="40" placeholder="Escribe aquí tu comentario"></textarea>

      <mat-error *ngIf="description.hasError('required')">
        El campo <strong>Descripción</strong> es requerido.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button type="button" (click)="onCancel($event)">Cancelar</button>
</form>