<h1>Subir Imagen</h1>

    <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">      
        <div>
          <input type="file" name="file" (change)="onFileSelect($event)" accept="image/png, image/jpeg, image/jpg"/>
        </div>

        <div>
            <textarea formControlName="description" rows="10" cols="40" placeholder="Escribe aquí tu comentario"></textarea>
        </div>

        <div>
          <button type="submit">Upload</button>
        </div>
      </form>

<!-- <div>
    <input name="imagen" type="file" accept="image/png, image/jpeg, image/jpg" >
</div>   
<div>
    <textarea name="comentarios" rows="10" cols="40" placeholder="Escribe aquí tu comentario"></textarea>
</div>
    
<button type="submit">Aceptar</button>
<button>Cancelar</button>
 -->
